._ {
    font-family: "__luxjs__regular__";
    font-size: 13px;
}

._header-1 {
    font-size: 35px;
    font-weight: bold;
}

._header-2 {
    font-size: 30px;
    font-weight: bold;
}

._header-3 {
    font-size: 25px;
}

._header-4 {
    font-size: 20px;
    color: var(--text_secondary);
}

._header-5 {
    font-size: 18px;
    color: var(--text_secondary);
}

._header-6 {
    font-size: 15px;
    color: var(--text_secondary);
}
