body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #121212;
    font-family: "SegoeUI", sans-serif;
    user-select: none;
    letter-spacing: 3px;
}