.tabView {
    width: 100%;
    min-height: 200px;
    border: 20px solid var(--surface_secondary);

    .tabs {
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    .renderer {
        padding: 10px;
        font-family: "__luxjs__regular__";
        font-size: 13px;
        border-radius: var(--radius_medium);
        background: var(--surface_primary);
    }
}
