._ {
    -webkit-app-region: drag;
    width: 100vw;
    height: 40px;
    background: var(--surface_primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

._blurred {
    background: var(--surface_secondary);
}

.left {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.leftTitle,
.middleText {
    font-family: "__luxjs__regular__";
    font-size: 12px;
}

.middleText {
    position: fixed;
    left: 50vw;
    top: calc(40px / 2);
    transform: translate(-50%, -50%);
}

.leftTitleBlurred, .middleTextBlurred {
    color: var(--text_secondary);
}

.right {
    -webkit-app-region: no-drag;
}

.rightWinButtons {
    display: flex;
    height: 40px;
    margin-right: -10px;

    button {
        height: 32px;
        width: 45px;
        background: transparent;
        color: var(--text_primary);
        border: none;
        font-size: 16px;
        -webkit-app-region: no-drag;
        outline: none;

        &:hover {
            background: var(--dynamic_primary);
            color: var(--text_primary);

            &:nth-child(3) {
                background: var(--accent_primary);
                color: var(--textOnAccent_primary);
            }

            &:active {
                color: var(--text_secondary);

                &:nth-child(3) {
                    color: var(--textOnAccent_secondary);
                    background: var(--accent_secondary);
                }
            }
        }
    }
}

.rightWinButtonsBlurred {
    button {
        color: var(--text_secondary);
    }
}

.leftMacButtons {
    display: flex;
    margin-left: -10px;

    button {
        display: flex;
        width: 24px;
        height: 40px;
        border: none;
        align-items: center;
        justify-content: center;
        background: transparent;
        -webkit-app-region: no-drag;
        outline: none;

        &:after {
            content: "";
            display: flex;
            width: 12px;
            height: 12px;
            border: 6px solid #FF5F57;
            border-radius: var(--radius_hard);
            transition: 200ms;
            box-sizing: border-box;
        }

        &:nth-child(2):after {
            border-color: #FFBD2E;
        }

        &:nth-child(3):after {
            border-color: #28C940;
        }

        &:hover {
            &:after {
                transition: 100ms;
                border-width: 2px;
            }

            &:active {
                &:after {
                    transition: 100ms;
                    filter: brightness(0.5);
                }
            }
        }
    }
}
