._ {
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;

    &:after {
        position: absolute;
        content: "";
        display: flex;
        width: 10px;
        height: 10px;
        top: 0px;
        left: 50px;
        background: var(--surface_secondary);    
        border-radius: var(--radius_hard) 0 0 0;
    }

    &:before {
        position: absolute;
        content: "";
        display: flex;
        width: 10px;
        height: 10px;
        top: 0;
        left: 50px;
        background: var(--surface_primary);
    }
}

.sideRail {
    overflow: hidden;
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: var(--surface_primary);
}

.sideRailBody {
    height: 100%;
    overflow: overlay;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: var(--accent_primary);
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        background: transparent;
        border-radius: var(--radius_medium);
        border: none;
        transition: 200ms;
        padding: 0;
        cursor: pointer;
        min-height: 35px;
        max-height: 35px;
        overflow: hidden;

        &:hover {
            transition: 100m;
            background: var(--dynamic_primary);

            &:active {
                background: var(--dynamic_secondary);
            }
        }

        img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            transition: 100ms;
            border-radius: var(--radius_medium);
        }
    }
}

.sideRailItemIcon {
    width: 22px;
    height: 22px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--radius_medium);
}

.sideRailItemFillSpaceIcon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
    overflow: hidden;
    border-radius: var(--radius_medium);
}

.sideRailBody button:hover .sideRailItemFillSpaceIcon {
    transform: scale(0.8);

    & > * {
        transform: scale(1.2);
    }
}

.sideRailBody button:hover:active .sideRailItemFillSpaceIcon {
    filter: brightness(0.8);
}

.sideBar {
    width: 280px;
    min-width: 300px;
    max-width: 300px;
    height: calc(100% - 20px);
    border-radius: var(--radius_hard);
    display: flex;
    padding: 10px;
    background: var(--surface_primary);
    margin: 10px;
}

.body {
    width: 100%;
}

.sideBarBody {
    overflow: overlay;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sideBarBodyItem {
    transition: 200ms;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    border-radius: var(--radius_medium);
    gap: 10px;

    &:hover {
        transition: 100ms;
        background: var(--dynamic_primary);
    }
}

.sideBarBodyItemLabel {
    font-size: 13px;
    font-family: "__luxjs__regular__";
}
