._ {
    width: 100%;
    display: flex;
}

.input {
    width: 100%;
    height: 30px;
    background: var(--dynamic_primaryAlt);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--dynamic_primaryAlt);
    border-radius: var(--radius_medium);
    border-bottom-color: var(--dynamic_quaternary);
    border-bottom-width: 1px;
    transition: 200ms;
    overflow: hidden;
    box-shadow: inset 0 -1px 0px var(--dynamic_primaryAlt);

    &:hover {
        background: var(--dynamic_primary);
    }

    &:focus-within {
        border-color: var(--dynamic_primary);
        border-bottom-color: var(--accent_primary);
        background: transparent;
        box-shadow: inset 0 -1px 0px var(--accent_primary);
    }

    input {
        background: transparent;
        color: var(--text_primary);
        outline: none;
        padding: 0 10px;
        width: 100%;
        height: calc(100% - 1.5px);
        display: flex;
        border: none;
        margin: 0;
        font-family: "__luxjs__regular__";
        font-size: 12px;
    }
}

.icon {
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius_light);
    margin-left: 10px;
    font-size: 16px;

    img {
        width: 100%;
    }
}
