._ {
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;

    & > div {
        height: 100%;
        width: 100%;
    }

    &::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }

    &::-webkit-scrollbar-track {
        background: var(--surface_primaryAlt);
        border-radius: var(--radius_medium);
        margin: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--accent_primary);
        border: 5px solid var(--surface_primaryAlt);
        border-radius: var(--radius_hard);

        &:hover {
            background: var(--accent_secondary);
        }
    }
}
;